/* style.css */

* {
    color: hsl(100,100%,100%);
    background-color: hsl(0,100%,0%);
    box-sizing: border-box;
}
#odin-logo {
    display: content-box;
    margin-top: 50px
}

#main-image {
    margin-bottom: 100px;
    border: 20px double white;
}

#desserts {
    box-sizing: content-box;
    margin-bottom: 100px;
    margin-top: 20px;
    border: 20px double white;
}

h1,
h2,
h3,
h4 {
    font-family: Norse-Bold, Papyrus, fantasy;
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    color: hsl(100,100%,100%);
    text-shadow: 3px 3px 3px hsl(180,100%,50%);
}

h1 {
    margin: 50px;
    margin-top: 25px
}

h2 {
    font-size: 60px;
    padding: 25px;
}

h3 {
    font-size: 50px;
    padding: 20px;
}

h4 {
    font-family: Papyrus, fantasy;
    font-size: 40px;
    color: hsl(180,100%,50%);
    text-shadow: 2px 2px 2px hsl(100,100%,100%);
    margin: 15px;
}
 
ol {
    font-family: Papyrus, fantasy;
    font-size: 25px;
    margin: 20px
}

ul {
    list-style-type: none;
    text-align: center;
    font-family: Papyrus, fantasy;
    font-size: 25px;
    margin: 20px
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recipes {
    display: block;
    font-family: Papyrus, fantasy;
    font-size: 25px;
    font-weight: 700;
    margin: 20px;
}

p {
    font-family: Papyrus, fantasy;
    font-size: 25px;
    color: hsl(180,100%,50%);
    text-shadow: hsl(210,100%,50%) 3px 3px 3px;
    margin: 20px;
}

#highlight {
    color: white;
}