/* style.css */

* {
    color: hsl(100,100%,100%);
    background-color: hsl(0,100%,0%);
}

h1,
h2,
h3,
h4 {
    font-family: Norse-Bold, Papyrus, fantasy;
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    color: hsl(100,100%,100%);
    text-shadow: 3px 3px 3px hsl(180,100%,50%);
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 50px;
}

h4 {
    font-family: Papyrus, fantasy;
    font-size: 40px;
    color: hsl(180,100%,50%);
    text-shadow: hsl(100,100%,100%);
    }
 
ol {
    font-family: Papyrus, fantasy;
    font-size: 25px;
}

ul {
    list-style-type: none;
    text-align: center;
    font-family: Papyrus, fantasy;
    font-size: 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recipes {
    font-family: Papyrus, fantasy;
    font-size: 25px;
    font-weight: 700;
}

p {
    font-family: Papyrus, fantasy;
    font-size: 25px;
    color: hsl(180,100%,50%);
    text-shadow: hsl(210,100%,50%) 3px 3px 3px;
}
